@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap'); 

html {
    box-sizing: border-box;
    --parent-height:20em;
    --duration: 1s;
    --duration-text-wrap: 12s 1.5s cubic-bezier(0.82, 0.82, 1, 1.01);
    --cubic-header: var()
}